:root {
    --white: #fff;
    --background: #f9fafb;

    --primary-100: #e6f9ee;
    --primary-200: #c0f0d2;
    --primary-300: #8ee4b1;
    --primary-400: #25be53;
    --primary-500: #1fa64a;
    --primary-600: #1d7b3e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Inter", sans-serif !important;
}

.sidebar {
    width: 78px;
    min-width: 78px;
    background: linear-gradient(0deg, var(--primary-500) 0%, var(--primary-400) 100%);
    color: var(--white);

    transition: width .2s ease-in-out;
}

.sidebar.expanded {
    width: 300px;
}

.sidebar .nav-link {
    color: var(--white) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    transition: all .2s ease-in-out;
}

.sidebar .nav-link span,
.sidebar .nav-link small {
    display: none;
}

.sidebar.expanded .nav-link {
    justify-content: flex-start;
    gap: 12px;
    padding: 0.6rem 1rem;
}

.sidebar.expanded .nav-link span,
.sidebar.expanded .nav-link small {
    display: inline;
}

.sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.12);
}

.nav-pills .nav-link.active {
    background-color: rgba(173, 255, 170, 0.18);
    color: rgb(172, 255, 179) !important;
    font-weight: 600;
}

.sidebar .text-muted {
    color: rgba(255, 255, 255, 0.65) !important;
}

#toggleSidebar .nav-link {
    justify-content: center;
}

.sidebar.expanded #toggleSidebar .nav-link {
    justify-content: flex-start;
}

.btn-insert {
    border: none;
    transition: all .1s ease-in-out;
}

.btn-insert:hover,
.btn-insert:active {
    background-color: rgba(0, 0, 0, 0.129) !important;
    color: black !important;
}

.modal-title {
    font-weight: 600;
}

.modal-icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: #a4a4a4;
}

.modal-header {
    border-bottom: 2px solid #d6d6d6;
}

.modal-footer {
    border-top: none;
}

label {
    font-size: small;
    font-weight: 600;
}

.form-control {
    background-color: #FCFBFC;
    border: 2px solid #d6d6d6;
    border-radius: 8px;
    padding: 10px;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* TABLET */
@media (max-width: 992px) {
    .painel-titulo { width: 22%; }
    .painel-subtitulo { width: 20%; }
    .painel-descricao { width: 30%; }

    .tabela-noticias td,
    .tabela-noticias th {
        font-size: 0.9rem;
    }
    
}

/* MOBILE */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        width: 100% !important;
        height: 60px !important;
        z-index: 999;
    }

    .sidebar .logo {
        display: none !important;
    }

    .sidebar .nav {
        display: flex;
        flex-direction: row !important;

        justify-content: space-around;
        width: 100%;
    }

    .sidebar .nav-link span,
    .sidebar .nav-link small {
        display: none !important;
    }

    #toggleSidebar {display: none !important;}

    .nav .nav-item a.nav-link.active {
        color: #ffffff !important;
    }

    .tabela-noticias td,
    .tabela-noticias th {
        font-size: 0.8rem;
    }

    .painel-img {min-width: 150px;}

    .painel-descricao {min-width: 200px;}

    .resumos {grid-template-columns: 1fr;}
    .estatisticas {grid-template-columns: 1fr;}
    .noticia {flex-direction: column;}
    .card-noticia .noticia-titulo {font-size: 1.2rem;}

    .card-noticia .noticia-texto {font-size: 1rem;}

    .images {
        flex-direction: column;
    }
}

.estatisticas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.2rem;
    border-radius: 5px;
}

.card-resumo {
    font-weight: 600;
    border-left: .25rem solid var(--primary-400) !important;
}

.resumos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
    border: none;
    border-radius: .35rem;
    margin: 0 .75rem;
}

.noticia img {
    width: 100%;
    max-width: 280px;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.noticia-texto {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5;
}

.log-item {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    margin-bottom: 20px;
}

.log-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 5px;
    z-index: 1;
}

.drop-area {
    width: 100%;
    cursor: pointer;
}

.img-view {
    height: 140px;
    border-radius: 12px;
    border: 2px dashed #ccc;
    background: #f7f7f7;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-view img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.img-view.active span {
    display: none;
}

.img-view.active img {
    display: block;
}

.timeline {
    border-left: 2px solid #d5d5d5;
    position: relative;
}

.timeline-item {
    position: relative;
}

.timeline-item::after {
    position: absolute;
    display: block;
    top: 0;
    left: -39px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

.timeline-item.insert::after{background-color: #4caf50;}
.timeline-item.update::after{background-color: #ffc107;}
.timeline-item.delete::after{background-color: #f44336;}
.timeline-item.login::after{background-color: #2196f3;}
.timeline-item.logout::after{background-color: #9e9e9e;}

.log-dot.log-insert {background: #4caf50;}
.log-dot.log-update {background: #ffc107;}
.log-dot.log-delete {background: #f44336;}
.log-dot.log-login {background: #2196f3;}
.log-dot.log-logout {background: #9e9e9e;}

.table-img-wrapper {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 6px;
}

.table-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.avatar-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(50, 50, 50, 0.192);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
}